<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Customer order demo PCII</title>
    {% block title %}
    {% endblock %}
  </head>
    <body>
        <nav>
            <ul class="menu">
                {% if ulogin == None %}
                    <li><a class="button" href="/login">Login</a></li>
                {% else %}
                    <li><a class="button" href="/logoff">Logoff</a></li>
                    <li><a class="button" href="/gform/Customer">Customer</a></li>
                    <li><a class="button" href="/gform/Product">Product</a></li>
                    <li><a class="button" href="/productform">Product(foto)</a></li>
                    <li><a class="button" href="/subform/CustomerOrder_OrderProduct?option=''">Order lines</a></li>
                    
                    <li><a class="button" href="/hform/horario?option=''">Grelha horario</a></li>
                    
                    <li><a class="button" style="color:lightblue">User: {{ulogin}}</a></li>
                {% endif %}
            </ul>
        </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>